#layout{
	padding-left: 302px;
}
.objects_item_td_pos{
	position: relative !important;
}

.cian-ext-site__star{
	position: absolute;
	top:0;
	left: 0;
	width: 40px;
	height: 40px;
	background: red;
}
